In [52]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from datetime import datetime
import seaborn as sns
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('seaborn')

from sqlalchemy import create_engine

from sklearn.model_selection import cross_val_score
from sklearn.metrics import roc_curve, auc, precision_recall_curve, roc_auc_score
from sklearn.metrics import confusion_matrix, precision_score, recall_score, classification_report, average_precision_score

from sklearn.ensemble import RandomForestClassifier

import warnings
warnings.filterwarnings("ignore")

In [53]:
df = pd.read_csv('./data_v1.0.csv', sep=',')

In [54]:
del df['Unnamed: 0']
del df['index']
df.head()

,date,cheveux,age,exp,salaire,sexe,diplome,specialite,note,dispo,embauche
0,2012-06-02,roux,25.0,9.0,26803.0,F,licence,geologie,97.08,non,0
1,2011-04-21,blond,35.0,13.0,38166.0,M,licence,forage,63.86,non,0
2,2012-09-07,blond,29.0,13.0,35207.0,M,licence,geologie,78.50,non,0
3,2011-07-01,brun,NaN,12.0,32442.0,M,licence,geologie,45.09,non,0
4,2012-08-07,roux,35.0,6.0,28533.0,F,licence,detective,81.91,non,0

In [55]:
df.describe()

                age           exp       salaire          note      embauche
count  19909.000000  19904.000000  19905.000000  19886.000000  20000.000000
mean      35.004521      9.500352  34974.343934     75.168762      0.114600
std        9.609169      3.012109   5003.099616     17.095926      0.318547
min       -3.000000     -2.000000  14128.000000      8.680000      0.000000
25%       29.000000      7.000000  31596.000000     63.720000      0.000000
50%       35.000000      9.000000  34979.000000     75.080000      0.000000
75%       41.000000     12.000000  38358.000000     86.617500      0.000000
max       74.000000     23.000000  53977.000000    143.220000      1.000000

In [56]:
# SQL engine pour pouvoir explorer les données à l'oeil nu rapidement à titre observatoire.
engine = create_engine('sqlite:///:memory:')
df.to_sql('table', engine)
pd.read_sql_table('table', engine)
pd.read_sql_query('select * from "table" where age = "NaN"', con=engine)

Empty DataFrame
Columns: [index, date, cheveux, age, exp, salaire, sexe, diplome, specialite, note, dispo, embauche]
Index: []

In [57]:
df.dropna()

,date,cheveux,age,exp,salaire,sexe,diplome,specialite,note,dispo,embauche
0,2012-06-02,roux,25.0,9.0,26803.0,F,licence,geologie,97.08,non,0
1,2011-04-21,blond,35.0,13.0,38166.0,M,licence,forage,63.86,non,0
2,2012-09-07,blond,29.0,13.0,35207.0,M,licence,geologie,78.50,non,0
4,2012-08-07,roux,35.0,6.0,28533.0,F,licence,detective,81.91,non,0
5,2014-02-12,chatain,37.0,8.0,38558.0,M,master,geologie,63.46,non,1
6,2013-11-11,brun,33.0,12.0,39476.0,M,master,geologie,50.20,oui,0
7,2012-03-10,roux,31.0,10.0,42392.0,M,licence,forage,62.20,oui,0
8,2014-10-17,chatain,43.0,10.0,28625.0,M,doctorat,geologie,65.17,non,1
9,2011-06-04,chatain,28.0,11.0,32454.0,M,master,forage,66.93,non,1
10,2014-08-06,brun,50.0,12.0,38516.0,F,licence,geologie,58.93,non,0
11,2010-04-22,blond,43.0,8.0,38719.0,M,master,archeologie,80.07,oui,0
12,2011-10-23,brun,44.0,9.0,28688.0,M,doctorat,forage,115.76,oui,0
13,2014-06-25,brun,39.0,4.0,30822.0,F,licence,geologie,66.85,non,0
14,2011-10-15,roux,23.0,14.0,33882.0,M,licence,geologie,61.46,non,0
15,2010-07-12,brun,38.0,3.0,40889.0,M,master,geologie,62.85,oui,0
16,2012-02-05,brun,31.0,10.0,28507.0,M,doctorat,forage,104.26,oui,0
17,2010-07-03,blond,37.0,13.0,41512.0,M,bac,geologie,55.91,non,0
18,2010-07-21,blond,35.0,14.0,30359.0,M,licence,geologie,94.58,non,0
19,2014-07-22,chatain,44.0,8.0,28956.0,M,master,geologie,74.82,non,0
20,2010-02-12,brun,31.0,12.0,34483.0,M,master,forage,66.27,oui,0
21,2014-05-22,chatain,30.0,10.0,39069.0,F,licence,forage,65.19,non,0
22,2010-01-04,brun,39.0,13.0,34632.0,M,master,geologie,81.35,non,0
23,2012-03-20,brun,31.0,8.0,41582.0,M,licence,geologie,58.94,non,0
24,2012-01-16,blond,35.0,8.0,30782.0,F,licence,geologie,90.31,non,0
25,2014-05-13,chatain,31.0,12.0,33238.0,F,master,detective,70.39,non,0
27,2013-06-18,brun,42.0,8.0,30641.0,F,licence,geologie,78.89,non,0
28,2010-01-02,chatain,27.0,13.0,31505.0,F,master,archeologie,88.33,non,0
29,2010-07-25,chatain,19.0,9.0,31357.0,M,doctorat,detective,88.69,oui,0
30,2010-03-21,brun,19.0,4.0,39031.0,M,master,geologie,57.48,oui,0
31,2014-05-29,chatain,40.0,13.0,37495.0,M,doctorat,geologie,80.86,oui,0
...,...,...,...,...,...,...,...,...,...,...,...
19968,2010-09-20,brun,35.0,13.0,37891.0,M,licence,geologie,52.19,non,0
19969,2013-04-07,brun,31.0,12.0,27467.0,F,doctorat,archeologie,143.22,oui,1
19970,2014-10-07,roux,25.0,8.0,28761.0,M,master,geologie,118.92,oui,0
19971,2013-02-25,chatain,44.0,1.0,31696.0,F,master,archeologie,103.54,oui,0
19972,2010-03-01,roux,27.0,14.0,37454.0,M,bac,geologie,55.06,non,0
19973,2013-12-20,chatain,33.0,10.0,32543.0,F,master,detective,100.01,oui,0
19974,2010-11-22,brun,33.0,10.0,48154.0,M,bac,geologie,23.51,non,0
19975,2011-03-31,brun,27.0,11.0,38039.0,M,master,detective,69.52,oui,0
19978,2011-03-14,brun,38.0,13.0,36303.0,M,licence,geologie,34.98,non,0
19979,2014-02-27,blond,20.0,17.0,38831.0,M,bac,forage,60.25,non,0
19980,2010-03-26,chatain,24.0,11.0,45959.0,M,master,geologie,50.88,oui,0
19981,2014-08-27,brun,35.0,14.0,31213.0,F,bac,archeologie,66.79,non,1
19982,2011-03-26,chatain,43.0,11.0,37331.0,M,master,detective,70.70,oui,0
19983,2010-10-26,blond,51.0,6.0,37941.0,F,licence,forage,84.69,non,0
19984,2014-06-04,chatain,50.0,12.0,35803.0,F,licence,detective,84.25,non,0
19985,2010-05-04,roux,42.0,5.0,28549.0,M,master,geologie,81.36,oui,0
19986,2011-12-15,blond,38.0,8.0,35678.0,F,bac,geologie,76.42,non,0
19987,2010-04-18,blond,39.0,6.0,35353.0,M,licence,geologie,61.35,non,0
19988,2011-07-25,roux,40.0,8.0,34077.0,M,licence,geologie,79.93,oui,0
19989,2013-12-02,blond,25.0,11.0,40685.0,F,bac,archeologie,84.22,non,1
19990,2014-02-02,brun,32.0,13.0,39591.0,M,master,detective,86.65,oui,0
19991,2013-08-15,chatain,33.0,11.0,41512.0,M,master,forage,64.57,oui,0
19992,2011-01-08,brun,28.0,13.0,41107.0,F,licence,detective,89.20,oui,0
19993,2014-05-31,blond,35.0,8.0,33520.0,F,licence,detective,70.72,non,0
19994,2013-06-09,blond,33.0,9.0,32674.0,M,licence,geologie,65.23,non,0
19995,2012-03-10,roux,47.0,9.0,35723.0,M,licence,geologie,66.47,non,0
19996,2010-09-19,chatain,38.0,10.0,33570.0,F,master,geologie,62.29,non,1
19997,2010-09-02,chatain,23.0,6.0,33751.0,F,doctorat,detective,103.48,oui,0
19998,2011-12-06,chatain,33.0,11.0,34167.0,F,licence,detective,73.35,non,0
19999,2010-11-29,brun,35.0,14.0,44499.0,M,bac,geologie,45.62,non,0

In [74]:
for i in df['cheveux']:
    if([(df['cheveux'] == 'roux')][(df['cheveux'] == 'roux')]):
        df['cheveux'] == 0

TypeError: list indices must be integers or slices, not Series

In [72]:
# Split des data
y = df['embauche']
X = df.copy()
del X['embauche']
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.30, random_state=42)

In [21]:
rf = RandomForestClassifier(n_estimators=10, criterion='gini', max_depth=10,
                            n_jobs=-1, random_state=3, verbose=0, 
                            class_weight='balanced')
rf.fit(X_train, y_train)
y_pred = rf.predict(X_test)

ValueError: could not convert string to float: 'oui'

In [69]:
df['specialite'].unique()

array(['geologie', 'forage', 'detective', 'archeologie', nan], dtype=object)