In [239]:
import numpy as np
import pandas as pd
from time import time
import matplotlib.pyplot as plt
import re
import datetime

%matplotlib inline

In [240]:
#load data
conso_train = pd.read_csv('conso_train.csv', sep=';', parse_dates=True)
meteo_train = pd.read_csv('meteo_train.csv', sep=';', parse_dates=True)
sample_solution = pd.read_csv('sample_solution.csv', sep=';', parse_dates=True,header=None)
meteo_prev = pd.read_csv('meteo_prev.csv', sep=';', parse_dates=True)

In [241]:
meteo_train.head()

,Date UTC,T¬∞ (C),P (hPa),HR (%),P.ros√©e (¬∞C),Visi (km),Vt. moy. (km/h),Vt. raf. (km/h),Vt. dir (¬∞),RR 3h (mm),Neige (cm),Nebul. (octats)
0,13/09/15 00h00,12.5,1008.7,81.0,9.3,40.0,9.260,18.520,140.0,0.0,NaN,8.0
1,13/09/15 03h00,12.3,1006.4,83.0,9.5,40.0,11.112,16.668,120.0,0.0,NaN,8.0
2,13/09/15 06h00,12.3,1004.7,82.0,9.3,40.0,14.816,22.224,130.0,NaN,NaN,7.0
3,13/09/15 09h00,14.2,1002.9,80.0,10.8,40.0,18.520,31.484,140.0,NaN,NaN,7.0
4,13/09/15 12h00,13.3,1000.8,93.0,12.2,4.0,18.520,38.892,140.0,4.0,NaN,7.0

In [242]:
conso_train.head()

                        date   puissance
0  2015-09-13T00:59:59+02:00  526.166667
1  2015-09-13T01:59:59+02:00  495.000000
2  2015-09-13T02:59:59+02:00  446.166667
3  2015-09-13T03:59:59+02:00  365.833333
4  2015-09-13T04:59:59+02:00  341.000000

objectif : split date & heure

   Split date et heure méthode 2 : revoir .str , apply()_ Cours migli, to_datetime et date index

In [243]:
meteo_train['date'] = meteo_train['Date UTC'].str.split(" ").apply(lambda x:x[0])

In [244]:
meteo_train['heure'] = meteo_train['Date UTC'].str.split(" ").apply(lambda x:x[1])

In [245]:
meteo_train.head()

,Date UTC,T¬∞ (C),P (hPa),HR (%),P.ros√©e (¬∞C),Visi (km),Vt. moy. (km/h),Vt. raf. (km/h),Vt. dir (¬∞),RR 3h (mm),Neige (cm),Nebul. (octats),date,heure
0,13/09/15 00h00,12.5,1008.7,81.0,9.3,40.0,9.260,18.520,140.0,0.0,NaN,8.0,13/09/15,00h00
1,13/09/15 03h00,12.3,1006.4,83.0,9.5,40.0,11.112,16.668,120.0,0.0,NaN,8.0,13/09/15,03h00
2,13/09/15 06h00,12.3,1004.7,82.0,9.3,40.0,14.816,22.224,130.0,NaN,NaN,7.0,13/09/15,06h00
3,13/09/15 09h00,14.2,1002.9,80.0,10.8,40.0,18.520,31.484,140.0,NaN,NaN,7.0,13/09/15,09h00
4,13/09/15 12h00,13.3,1000.8,93.0,12.2,4.0,18.520,38.892,140.0,4.0,NaN,7.0,13/09/15,12h00

Aggreger les conso par pas de 3h pour qu'elles soient sur le même pas que les séries temporelles

In [246]:
#traitement de la date conso_train
conso_train["date"] = conso_train["date"].str.split('+').apply(lambda x:x[0])

In [247]:
conso_train["date_only"] = conso_train["date"].str.split('T').apply(lambda x:x[0])
conso_train["heure_only"] = conso_train["date"].str.split('T').apply(lambda x:x[1])

In [248]:
conso_train["full_date"] = conso_train["date"].str.replace('T',' ')
conso_train.drop('date',axis=1)

       puissance   date_only heure_only            full_date
0     526.166667  2015-09-13   00:59:59  2015-09-13 00:59:59
1     495.000000  2015-09-13   01:59:59  2015-09-13 01:59:59
2     446.166667  2015-09-13   02:59:59  2015-09-13 02:59:59
3     365.833333  2015-09-13   03:59:59  2015-09-13 03:59:59
4     341.000000  2015-09-13   04:59:59  2015-09-13 04:59:59
5     352.333333  2015-09-13   05:59:59  2015-09-13 05:59:59
6     374.833333  2015-09-13   06:59:59  2015-09-13 06:59:59
7     459.166667  2015-09-13   07:59:59  2015-09-13 07:59:59
8     555.500000  2015-09-13   08:59:59  2015-09-13 08:59:59
9     684.166667  2015-09-13   09:59:59  2015-09-13 09:59:59
10    744.666667  2015-09-13   10:59:59  2015-09-13 10:59:59
11    748.000000  2015-09-13   11:59:59  2015-09-13 11:59:59
12    634.500000  2015-09-13   12:59:59  2015-09-13 12:59:59
13    615.166667  2015-09-13   13:59:59  2015-09-13 13:59:59
14    566.166667  2015-09-13   14:59:59  2015-09-13 14:59:59
15    507.666667  2015-09-13   15:59:59  2015-09-13 15:59:59
16    458.166667  2015-09-13   16:59:59  2015-09-13 16:59:59
17    490.833333  2015-09-13   17:59:59  2015-09-13 17:59:59
18    520.333333  2015-09-13   18:59:59  2015-09-13 18:59:59
19    545.666667  2015-09-13   19:59:59  2015-09-13 19:59:59
20    564.833333  2015-09-13   20:59:59  2015-09-13 20:59:59
21    688.666667  2015-09-13   21:59:59  2015-09-13 21:59:59
22    746.000000  2015-09-13   22:59:59  2015-09-13 22:59:59
23    612.500000  2015-09-13   23:59:59  2015-09-13 23:59:59
24    514.166667  2015-09-14   00:59:59  2015-09-14 00:59:59
25    411.833333  2015-09-14   01:59:59  2015-09-14 01:59:59
26    388.333333  2015-09-14   02:59:59  2015-09-14 02:59:59
27    362.333333  2015-09-14   03:59:59  2015-09-14 03:59:59
28    332.000000  2015-09-14   04:59:59  2015-09-14 04:59:59
29    329.000000  2015-09-14   05:59:59  2015-09-14 05:59:59
...          ...         ...        ...                  ...
8730  456.666667  2016-09-11   19:00:00  2016-09-11 19:00:00
8731  460.000000  2016-09-11   20:00:00  2016-09-11 20:00:00
8732  470.500000  2016-09-11   21:00:00  2016-09-11 21:00:00
8733  609.500000  2016-09-11   22:00:00  2016-09-11 22:00:00
8734  552.833333  2016-09-11   23:00:00  2016-09-11 23:00:00
8735  472.833333  2016-09-12   00:00:00  2016-09-12 00:00:00
8736  427.666667  2016-09-12   01:00:00  2016-09-12 01:00:00
8737  368.333333  2016-09-12   02:00:00  2016-09-12 02:00:00
8738  403.833333  2016-09-12   03:00:00  2016-09-12 03:00:00
8739  391.166667  2016-09-12   04:00:00  2016-09-12 04:00:00
8740  307.333333  2016-09-12   05:00:00  2016-09-12 05:00:00
8741  307.666667  2016-09-12   06:00:00  2016-09-12 06:00:00
8742  362.166667  2016-09-12   07:00:00  2016-09-12 07:00:00
8743  412.166667  2016-09-12   08:00:00  2016-09-12 08:00:00
8744  506.000000  2016-09-12   09:00:00  2016-09-12 09:00:00
8745  490.833333  2016-09-12   10:00:00  2016-09-12 10:00:00
8746  543.666667  2016-09-12   11:00:00  2016-09-12 11:00:00
8747  589.833333  2016-09-12   12:00:00  2016-09-12 12:00:00
8748  580.000000  2016-09-12   13:00:00  2016-09-12 13:00:00
8749  611.833333  2016-09-12   14:00:00  2016-09-12 14:00:00
8750  581.000000  2016-09-12   15:00:00  2016-09-12 15:00:00
8751  477.500000  2016-09-12   16:00:00  2016-09-12 16:00:00
8752  406.833333  2016-09-12   17:00:00  2016-09-12 17:00:00
8753  462.833333  2016-09-12   18:00:00  2016-09-12 18:00:00
8754  530.000000  2016-09-12   19:00:00  2016-09-12 19:00:00
8755  533.166667  2016-09-12   20:00:00  2016-09-12 20:00:00
8756  504.000000  2016-09-12   21:00:00  2016-09-12 21:00:00
8757  608.333333  2016-09-12   22:00:00  2016-09-12 22:00:00
8758  509.833333  2016-09-12   23:00:00  2016-09-12 23:00:00
8759  435.000000  2016-09-13   00:00:00  2016-09-13 00:00:00

[8760 rows x 4 columns]

In [249]:
meteo_train["date_only"] = meteo_train["Date UTC"].str.split(' ').apply(lambda x:x[0])
meteo_train["heure_only"] = meteo_train["Date UTC"].str.split(' ').apply(lambda x:x[1])

In [250]:
del meteo_train['heure_only']
del meteo_train['date_only']
del meteo_train['heure']
del meteo_train["Date UTC"]
#len(conso_train)

In [251]:
meteo_train.head()

,T¬∞ (C),P (hPa),HR (%),P.ros√©e (¬∞C),Visi (km),Vt. moy. (km/h),Vt. raf. (km/h),Vt. dir (¬∞),RR 3h (mm),Neige (cm),Nebul. (octats),date
0,12.5,1008.7,81.0,9.3,40.0,9.260,18.520,140.0,0.0,NaN,8.0,13/09/15
1,12.3,1006.4,83.0,9.5,40.0,11.112,16.668,120.0,0.0,NaN,8.0,13/09/15
2,12.3,1004.7,82.0,9.3,40.0,14.816,22.224,130.0,NaN,NaN,7.0,13/09/15
3,14.2,1002.9,80.0,10.8,40.0,18.520,31.484,140.0,NaN,NaN,7.0,13/09/15
4,13.3,1000.8,93.0,12.2,4.0,18.520,38.892,140.0,4.0,NaN,7.0,13/09/15

In [252]:
meteo_train["date"] = pd.to_datetime(meteo_train.date)

In [253]:
del conso_train['date']
del conso_train['heure_only']
del conso_train['full_date']
conso_train.head()

    puissance   date_only
0  526.166667  2015-09-13
1  495.000000  2015-09-13
2  446.166667  2015-09-13
3  365.833333  2015-09-13
4  341.000000  2015-09-13

In [254]:
conso_train["date_only"] = pd.to_datetime(conso_train.date_only)

In [256]:
conso_train["date_only"] = pd.to_datetime(conso_train["date_only"], format="%Y-%m-%d %H:%M:%S")
conso_train.set_index('date_only', inplace=True)

In [257]:
len(conso_train)

8760

In [234]:
len(meteo_train)

2928

In [231]:
result = pd.concat([meteo_train, conso_train], axis=1)

In [232]:
result

,T¬∞ (C),P (hPa),HR (%),P.ros√©e (¬∞C),Visi (km),Vt. moy. (km/h),Vt. raf. (km/h),Vt. dir (¬∞),RR 3h (mm),Neige (cm),Nebul. (octats),date,puissance,date_only
0,12.5,1008.7,81.0,9.3,40.0,9.260,18.520,140.0,0.0,NaN,8.0,2015-09-13,526.166667,2015-09-13
1,12.3,1006.4,83.0,9.5,40.0,11.112,16.668,120.0,0.0,NaN,8.0,2015-09-13,495.000000,2015-09-13
2,12.3,1004.7,82.0,9.3,40.0,14.816,22.224,130.0,NaN,NaN,7.0,2015-09-13,446.166667,2015-09-13
3,14.2,1002.9,80.0,10.8,40.0,18.520,31.484,140.0,NaN,NaN,7.0,2015-09-13,365.833333,2015-09-13
4,13.3,1000.8,93.0,12.2,4.0,18.520,38.892,140.0,4.0,NaN,7.0,2015-09-13,341.000000,2015-09-13
5,15.5,997.4,91.0,14.0,10.0,25.928,44.448,160.0,6.0,NaN,7.0,2015-09-13,352.333333,2015-09-13
6,15.3,997.6,86.0,13.0,20.0,22.224,35.188,220.0,NaN,NaN,6.0,2015-09-13,374.833333,2015-09-13
7,14.7,997.3,89.0,12.9,20.0,18.520,29.632,210.0,0.0,NaN,6.0,2015-09-13,459.166667,2015-09-13
8,14.3,996.2,91.0,12.8,15.0,22.224,42.596,240.0,1.0,NaN,6.0,2015-09-14,555.500000,2015-09-13
9,12.0,997.9,92.0,10.7,5.0,31.484,61.116,270.0,2.0,NaN,7.0,2015-09-14,684.166667,2015-09-13
10,10.8,999.8,89.0,9.1,7.0,25.928,46.300,270.0,4.0,0.0,8.0,2015-09-14,744.666667,2015-09-13
11,14.7,1001.4,64.0,8.0,20.0,35.188,61.116,270.0,0.0,NaN,4.0,2015-09-14,748.000000,2015-09-13
12,15.3,1002.8,63.0,8.3,20.0,31.484,59.264,260.0,1.0,NaN,5.0,2015-09-14,634.500000,2015-09-13
13,15.3,1003.0,63.0,8.3,20.0,35.188,64.820,250.0,1.0,NaN,5.0,2015-09-14,615.166667,2015-09-13
14,11.7,1002.6,77.0,7.8,20.0,22.224,48.152,240.0,0.0,NaN,7.0,2015-09-14,566.166667,2015-09-13
15,9.4,1002.8,87.0,7.3,26.0,22.224,44.448,230.0,2.0,0.0,8.0,2015-09-14,507.666667,2015-09-13
16,8.8,1002.4,90.0,7.2,15.0,11.112,16.668,220.0,1.0,NaN,5.0,2015-09-15,458.166667,2015-09-13
17,9.1,1002.3,87.0,7.0,20.0,11.112,16.668,240.0,0.0,NaN,3.0,2015-09-15,490.833333,2015-09-13
18,9.1,1002.6,86.0,6.9,20.0,9.260,14.816,220.0,0.0,NaN,1.0,2015-09-15,520.333333,2015-09-13
19,14.6,1002.3,64.0,7.9,20.0,20.372,29.632,220.0,0.0,NaN,4.0,2015-09-15,545.666667,2015-09-13
20,16.2,1000.4,56.0,7.4,20.0,20.372,33.336,190.0,0.0,NaN,6.0,2015-09-15,564.833333,2015-09-13
21,14.3,997.9,68.0,8.5,20.0,14.816,29.632,150.0,0.0,NaN,7.0,2015-09-15,688.666667,2015-09-13
22,11.9,994.5,94.0,11.0,12.0,18.520,27.780,60.0,6.0,NaN,8.0,2015-09-15,746.000000,2015-09-13
23,12.0,990.6,95.0,11.2,12.0,22.224,31.484,50.0,1.0,NaN,8.0,2015-09-15,612.500000,2015-09-13
24,12.3,987.5,94.0,11.4,12.0,18.520,31.484,40.0,0.0,NaN,7.0,2015-09-16,514.166667,2015-09-14
25,13.4,987.2,91.0,12.0,25.0,12.964,27.780,30.0,0.0,NaN,8.0,2015-09-16,411.833333,2015-09-14
26,13.3,984.7,95.0,12.5,20.0,14.816,31.484,60.0,0.0,NaN,8.0,2015-09-16,388.333333,2015-09-14
27,14.3,984.1,94.0,13.3,7.0,7.408,24.076,100.0,0.0,NaN,8.0,2015-09-16,362.333333,2015-09-14
28,17.4,983.1,77.0,13.3,20.0,16.668,27.780,240.0,0.0,NaN,7.0,2015-09-16,332.000000,2015-09-14
29,13.3,984.5,93.0,12.2,8.0,31.484,53.708,340.0,7.0,NaN,8.0,2015-09-16,329.000000,2015-09-14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8730,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,456.666667,2016-09-11
8731,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,460.000000,2016-09-11
8732,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,470.500000,2016-09-11
8733,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,609.500000,2016-09-11
8734,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,552.833333,2016-09-11
8735,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,472.833333,2016-09-12
8736,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,427.666667,2016-09-12
8737,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,368.333333,2016-09-12
8738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,403.833333,2016-09-12
8739,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,391.166667,2016-09-12
8740,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,307.333333,2016-09-12
8741,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,307.666667,2016-09-12
8742,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,362.166667,2016-09-12
8743,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,412.166667,2016-09-12
8744,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,506.000000,2016-09-12
8745,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,490.833333,2016-09-12
8746,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,543.666667,2016-09-12
8747,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,589.833333,2016-09-12
8748,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,580.000000,2016-09-12
8749,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,611.833333,2016-09-12
8750,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,581.000000,2016-09-12
8751,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,477.500000,2016-09-12
8752,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,406.833333,2016-09-12
8753,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,462.833333,2016-09-12
8754,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,530.000000,2016-09-12
8755,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,533.166667,2016-09-12
8756,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,504.000000,2016-09-12
8757,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,608.333333,2016-09-12
8758,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,509.833333,2016-09-12
8759,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,435.000000,2016-09-13

KeyError: 'date_only'

In [258]:
conso_train['2015-09-13':'2016-09-13'].groupby(pd.Grouper(freq='3H')).sum()

                        puissance
date_only
2015-09-13 00:00:00  13043.333333
2015-09-13 03:00:00           NaN
2015-09-13 06:00:00           NaN
2015-09-13 09:00:00           NaN
2015-09-13 12:00:00           NaN
2015-09-13 15:00:00           NaN
2015-09-13 18:00:00           NaN
2015-09-13 21:00:00           NaN
2015-09-14 00:00:00  11934.333333
2015-09-14 03:00:00           NaN
2015-09-14 06:00:00           NaN
2015-09-14 09:00:00           NaN
2015-09-14 12:00:00           NaN
2015-09-14 15:00:00           NaN
2015-09-14 18:00:00           NaN
2015-09-14 21:00:00           NaN
2015-09-15 00:00:00  12391.666667
2015-09-15 03:00:00           NaN
2015-09-15 06:00:00           NaN
2015-09-15 09:00:00           NaN
2015-09-15 12:00:00           NaN
2015-09-15 15:00:00           NaN
2015-09-15 18:00:00           NaN
2015-09-15 21:00:00           NaN
2015-09-16 00:00:00  13098.833333
2015-09-16 03:00:00           NaN
2015-09-16 06:00:00           NaN
2015-09-16 09:00:00           NaN
2015-09-16 12:00:00           NaN
2015-09-16 15:00:00           NaN
...                           ...
2016-09-09 09:00:00           NaN
2016-09-09 12:00:00           NaN
2016-09-09 15:00:00           NaN
2016-09-09 18:00:00           NaN
2016-09-09 21:00:00           NaN
2016-09-10 00:00:00  12937.666667
2016-09-10 03:00:00           NaN
2016-09-10 06:00:00           NaN
2016-09-10 09:00:00           NaN
2016-09-10 12:00:00           NaN
2016-09-10 15:00:00           NaN
2016-09-10 18:00:00           NaN
2016-09-10 21:00:00           NaN
2016-09-11 00:00:00  12081.333333
2016-09-11 03:00:00           NaN
2016-09-11 06:00:00           NaN
2016-09-11 09:00:00           NaN
2016-09-11 12:00:00           NaN
2016-09-11 15:00:00           NaN
2016-09-11 18:00:00           NaN
2016-09-11 21:00:00           NaN
2016-09-12 00:00:00  11388.833333
2016-09-12 03:00:00           NaN
2016-09-12 06:00:00           NaN
2016-09-12 09:00:00           NaN
2016-09-12 12:00:00           NaN
2016-09-12 15:00:00           NaN
2016-09-12 18:00:00           NaN
2016-09-12 21:00:00           NaN
2016-09-13 00:00:00    435.000000

[2929 rows x 1 columns]

In [160]:
conso_train["full_date"] = pd.to_datetime(conso_train["full_date"], format="%Y-%m-%d %H:%M:%S")
conso_train.set_index('full_date', inplace=True)
conso_train.head()

KeyError: 'full_date'