In [1]:
import numpy as np
import pandas as pd
from time import time
import datetime
import matplotlib.pyplot as plt
import re

%matplotlib inline

In [2]:
#load data
conso_train = pd.read_csv('conso_train.csv', sep=';', parse_dates=True)
meteo_train = pd.read_csv('meteo_train.csv', sep=';', parse_dates=True)
sample_solution = pd.read_csv('sample_solution.csv', sep=';', parse_dates=True,header=None)
meteo_prev = pd.read_csv('meteo_prev.csv', sep=';', parse_dates=True)

In [3]:
meteo_train.head()

,Date UTC,T¬∞ (C),P (hPa),HR (%),P.ros√©e (¬∞C),Visi (km),Vt. moy. (km/h),Vt. raf. (km/h),Vt. dir (¬∞),RR 3h (mm),Neige (cm),Nebul. (octats)
0,13/09/15 00h00,12.5,1008.7,81.0,9.3,40.0,9.260,18.520,140.0,0.0,NaN,8.0
1,13/09/15 03h00,12.3,1006.4,83.0,9.5,40.0,11.112,16.668,120.0,0.0,NaN,8.0
2,13/09/15 06h00,12.3,1004.7,82.0,9.3,40.0,14.816,22.224,130.0,NaN,NaN,7.0
3,13/09/15 09h00,14.2,1002.9,80.0,10.8,40.0,18.520,31.484,140.0,NaN,NaN,7.0
4,13/09/15 12h00,13.3,1000.8,93.0,12.2,4.0,18.520,38.892,140.0,4.0,NaN,7.0

In [4]:
conso_train.head()

                        date   puissance
0  2015-09-13T00:59:59+02:00  526.166667
1  2015-09-13T01:59:59+02:00  495.000000
2  2015-09-13T02:59:59+02:00  446.166667
3  2015-09-13T03:59:59+02:00  365.833333
4  2015-09-13T04:59:59+02:00  341.000000

objectif : split date & heure

   Split date et heure méthode 2 : revoir .str , apply()_ Cours migli, to_datetime et date index

In [5]:
meteo_train['date'] = meteo_train['Date UTC'].str.split(" ").apply(lambda x:x[0])

In [6]:
meteo_train['heure'] = meteo_train['Date UTC'].str.split(" ").apply(lambda x:x[1])

In [7]:
meteo_train.head()

,Date UTC,T¬∞ (C),P (hPa),HR (%),P.ros√©e (¬∞C),Visi (km),Vt. moy. (km/h),Vt. raf. (km/h),Vt. dir (¬∞),RR 3h (mm),Neige (cm),Nebul. (octats),date,heure
0,13/09/15 00h00,12.5,1008.7,81.0,9.3,40.0,9.260,18.520,140.0,0.0,NaN,8.0,13/09/15,00h00
1,13/09/15 03h00,12.3,1006.4,83.0,9.5,40.0,11.112,16.668,120.0,0.0,NaN,8.0,13/09/15,03h00
2,13/09/15 06h00,12.3,1004.7,82.0,9.3,40.0,14.816,22.224,130.0,NaN,NaN,7.0,13/09/15,06h00
3,13/09/15 09h00,14.2,1002.9,80.0,10.8,40.0,18.520,31.484,140.0,NaN,NaN,7.0,13/09/15,09h00
4,13/09/15 12h00,13.3,1000.8,93.0,12.2,4.0,18.520,38.892,140.0,4.0,NaN,7.0,13/09/15,12h00

Aggreger les conso par pas de 3h pour qu'elles soient sur le même pas que les séries temporelles

In [8]:
#traitement de la date conso_train
conso_train["date"] = conso_train["date"].str.split('+').apply(lambda x:x[0])

In [9]:
conso_train["date_only"] = conso_train["date"].str.split('T').apply(lambda x:x[0])
conso_train["heure_only"] = conso_train["date"].str.split('T').apply(lambda x:x[1])

In [10]:
conso_train["full_date"] = conso_train["date"].str.replace('T',' ')
conso_train.drop('date',axis=1)

       puissance   date_only heure_only            full_date
0     526.166667  2015-09-13   00:59:59  2015-09-13 00:59:59
1     495.000000  2015-09-13   01:59:59  2015-09-13 01:59:59
2     446.166667  2015-09-13   02:59:59  2015-09-13 02:59:59
3     365.833333  2015-09-13   03:59:59  2015-09-13 03:59:59
4     341.000000  2015-09-13   04:59:59  2015-09-13 04:59:59
5     352.333333  2015-09-13   05:59:59  2015-09-13 05:59:59
6     374.833333  2015-09-13   06:59:59  2015-09-13 06:59:59
7     459.166667  2015-09-13   07:59:59  2015-09-13 07:59:59
8     555.500000  2015-09-13   08:59:59  2015-09-13 08:59:59
9     684.166667  2015-09-13   09:59:59  2015-09-13 09:59:59
10    744.666667  2015-09-13   10:59:59  2015-09-13 10:59:59
11    748.000000  2015-09-13   11:59:59  2015-09-13 11:59:59
12    634.500000  2015-09-13   12:59:59  2015-09-13 12:59:59
13    615.166667  2015-09-13   13:59:59  2015-09-13 13:59:59
14    566.166667  2015-09-13   14:59:59  2015-09-13 14:59:59
15    507.666667  2015-09-13   15:59:59  2015-09-13 15:59:59
16    458.166667  2015-09-13   16:59:59  2015-09-13 16:59:59
17    490.833333  2015-09-13   17:59:59  2015-09-13 17:59:59
18    520.333333  2015-09-13   18:59:59  2015-09-13 18:59:59
19    545.666667  2015-09-13   19:59:59  2015-09-13 19:59:59
20    564.833333  2015-09-13   20:59:59  2015-09-13 20:59:59
21    688.666667  2015-09-13   21:59:59  2015-09-13 21:59:59
22    746.000000  2015-09-13   22:59:59  2015-09-13 22:59:59
23    612.500000  2015-09-13   23:59:59  2015-09-13 23:59:59
24    514.166667  2015-09-14   00:59:59  2015-09-14 00:59:59
25    411.833333  2015-09-14   01:59:59  2015-09-14 01:59:59
26    388.333333  2015-09-14   02:59:59  2015-09-14 02:59:59
27    362.333333  2015-09-14   03:59:59  2015-09-14 03:59:59
28    332.000000  2015-09-14   04:59:59  2015-09-14 04:59:59
29    329.000000  2015-09-14   05:59:59  2015-09-14 05:59:59
...          ...         ...        ...                  ...
8730  456.666667  2016-09-11   19:00:00  2016-09-11 19:00:00
8731  460.000000  2016-09-11   20:00:00  2016-09-11 20:00:00
8732  470.500000  2016-09-11   21:00:00  2016-09-11 21:00:00
8733  609.500000  2016-09-11   22:00:00  2016-09-11 22:00:00
8734  552.833333  2016-09-11   23:00:00  2016-09-11 23:00:00
8735  472.833333  2016-09-12   00:00:00  2016-09-12 00:00:00
8736  427.666667  2016-09-12   01:00:00  2016-09-12 01:00:00
8737  368.333333  2016-09-12   02:00:00  2016-09-12 02:00:00
8738  403.833333  2016-09-12   03:00:00  2016-09-12 03:00:00
8739  391.166667  2016-09-12   04:00:00  2016-09-12 04:00:00
8740  307.333333  2016-09-12   05:00:00  2016-09-12 05:00:00
8741  307.666667  2016-09-12   06:00:00  2016-09-12 06:00:00
8742  362.166667  2016-09-12   07:00:00  2016-09-12 07:00:00
8743  412.166667  2016-09-12   08:00:00  2016-09-12 08:00:00
8744  506.000000  2016-09-12   09:00:00  2016-09-12 09:00:00
8745  490.833333  2016-09-12   10:00:00  2016-09-12 10:00:00
8746  543.666667  2016-09-12   11:00:00  2016-09-12 11:00:00
8747  589.833333  2016-09-12   12:00:00  2016-09-12 12:00:00
8748  580.000000  2016-09-12   13:00:00  2016-09-12 13:00:00
8749  611.833333  2016-09-12   14:00:00  2016-09-12 14:00:00
8750  581.000000  2016-09-12   15:00:00  2016-09-12 15:00:00
8751  477.500000  2016-09-12   16:00:00  2016-09-12 16:00:00
8752  406.833333  2016-09-12   17:00:00  2016-09-12 17:00:00
8753  462.833333  2016-09-12   18:00:00  2016-09-12 18:00:00
8754  530.000000  2016-09-12   19:00:00  2016-09-12 19:00:00
8755  533.166667  2016-09-12   20:00:00  2016-09-12 20:00:00
8756  504.000000  2016-09-12   21:00:00  2016-09-12 21:00:00
8757  608.333333  2016-09-12   22:00:00  2016-09-12 22:00:00
8758  509.833333  2016-09-12   23:00:00  2016-09-12 23:00:00
8759  435.000000  2016-09-13   00:00:00  2016-09-13 00:00:00

[8760 rows x 4 columns]

In [11]:
conso_train["full_date"] = pd.to_datetime(conso_train["full_date"], format="%Y-%m-%d %H:%M:%S")

In [13]:
conso_train.set_index('full_date', inplace=True)
conso_train.head()

                                    date   puissance   date_only heure_only
full_date
2015-09-13 00:59:59  2015-09-13T00:59:59  526.166667  2015-09-13   00:59:59
2015-09-13 01:59:59  2015-09-13T01:59:59  495.000000  2015-09-13   01:59:59
2015-09-13 02:59:59  2015-09-13T02:59:59  446.166667  2015-09-13   02:59:59
2015-09-13 03:59:59  2015-09-13T03:59:59  365.833333  2015-09-13   03:59:59
2015-09-13 04:59:59  2015-09-13T04:59:59  341.000000  2015-09-13   04:59:59

In [14]:
power = conso_train['2015-09-13':'2016-09-13'].groupby(pd.Grouper(freq='3H')).sum()

In [15]:
# Drop l'index et le remplace par un index numérique par défaut
power = power.reset_index()

In [16]:
len(power)

2929

In [17]:
train = pd.concat([meteo_train, power], axis=1)

In [18]:
del train['Date UTC']
del train['full_date']

In [21]:
train

,T¬∞ (C),P (hPa),HR (%),P.ros√©e (¬∞C),Visi (km),Vt. moy. (km/h),Vt. raf. (km/h),Vt. dir (¬∞),RR 3h (mm),Neige (cm),Nebul. (octats),date,heure,puissance
0,12.5,1008.7,81.0,9.3,40.0,9.260,18.520,140.0,0.0,NaN,8.0,13/09/15,00h00,1467.333333
1,12.3,1006.4,83.0,9.5,40.0,11.112,16.668,120.0,0.0,NaN,8.0,13/09/15,03h00,1059.166667
2,12.3,1004.7,82.0,9.3,40.0,14.816,22.224,130.0,NaN,NaN,7.0,13/09/15,06h00,1389.500000
3,14.2,1002.9,80.0,10.8,40.0,18.520,31.484,140.0,NaN,NaN,7.0,13/09/15,09h00,2176.833333
4,13.3,1000.8,93.0,12.2,4.0,18.520,38.892,140.0,4.0,NaN,7.0,13/09/15,12h00,1815.833333
5,15.5,997.4,91.0,14.0,10.0,25.928,44.448,160.0,6.0,NaN,7.0,13/09/15,15h00,1456.666667
6,15.3,997.6,86.0,13.0,20.0,22.224,35.188,220.0,NaN,NaN,6.0,13/09/15,18h00,1630.833333
7,14.7,997.3,89.0,12.9,20.0,18.520,29.632,210.0,0.0,NaN,6.0,13/09/15,21h00,2047.166667
8,14.3,996.2,91.0,12.8,15.0,22.224,42.596,240.0,1.0,NaN,6.0,14/09/15,00h00,1314.333333
9,12.0,997.9,92.0,10.7,5.0,31.484,61.116,270.0,2.0,NaN,7.0,14/09/15,03h00,1023.333333
10,10.8,999.8,89.0,9.1,7.0,25.928,46.300,270.0,4.0,0.0,8.0,14/09/15,06h00,1402.166667
11,14.7,1001.4,64.0,8.0,20.0,35.188,61.116,270.0,0.0,NaN,4.0,14/09/15,09h00,1795.166667
12,15.3,1002.8,63.0,8.3,20.0,31.484,59.264,260.0,1.0,NaN,5.0,14/09/15,12h00,1479.000000
13,15.3,1003.0,63.0,8.3,20.0,35.188,64.820,250.0,1.0,NaN,5.0,14/09/15,15h00,1364.666667
14,11.7,1002.6,77.0,7.8,20.0,22.224,48.152,240.0,0.0,NaN,7.0,14/09/15,18h00,1609.166667
15,9.4,1002.8,87.0,7.3,26.0,22.224,44.448,230.0,2.0,0.0,8.0,14/09/15,21h00,1946.500000
16,8.8,1002.4,90.0,7.2,15.0,11.112,16.668,220.0,1.0,NaN,5.0,15/09/15,00h00,1308.333333
17,9.1,1002.3,87.0,7.0,20.0,11.112,16.668,240.0,0.0,NaN,3.0,15/09/15,03h00,1087.000000
18,9.1,1002.6,86.0,6.9,20.0,9.260,14.816,220.0,0.0,NaN,1.0,15/09/15,06h00,1530.666667
19,14.6,1002.3,64.0,7.9,20.0,20.372,29.632,220.0,0.0,NaN,4.0,15/09/15,09h00,1801.166667
20,16.2,1000.4,56.0,7.4,20.0,20.372,33.336,190.0,0.0,NaN,6.0,15/09/15,12h00,1437.333333
21,14.3,997.9,68.0,8.5,20.0,14.816,29.632,150.0,0.0,NaN,7.0,15/09/15,15h00,1487.666667
22,11.9,994.5,94.0,11.0,12.0,18.520,27.780,60.0,6.0,NaN,8.0,15/09/15,18h00,1745.000000
23,12.0,990.6,95.0,11.2,12.0,22.224,31.484,50.0,1.0,NaN,8.0,15/09/15,21h00,1994.500000
24,12.3,987.5,94.0,11.4,12.0,18.520,31.484,40.0,0.0,NaN,7.0,16/09/15,00h00,1328.333333
25,13.4,987.2,91.0,12.0,25.0,12.964,27.780,30.0,0.0,NaN,8.0,16/09/15,03h00,1092.166667
26,13.3,984.7,95.0,12.5,20.0,14.816,31.484,60.0,0.0,NaN,8.0,16/09/15,06h00,1609.666667
27,14.3,984.1,94.0,13.3,7.0,7.408,24.076,100.0,0.0,NaN,8.0,16/09/15,09h00,1920.500000
28,17.4,983.1,77.0,13.3,20.0,16.668,27.780,240.0,0.0,NaN,7.0,16/09/15,12h00,1718.500000
29,13.3,984.5,93.0,12.2,8.0,31.484,53.708,340.0,7.0,NaN,8.0,16/09/15,15h00,1579.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2899,18.6,1016.4,88.0,16.6,21.0,25.928,40.744,200.0,1.0,0.0,8.0,09/09/16,09h00,1665.833333
2900,20.7,1016.0,72.0,15.5,17.0,33.336,53.708,200.0,0.0,0.0,8.0,09/09/16,12h00,1881.833333
2901,19.2,1015.4,80.0,15.7,10.0,25.928,51.856,210.0,NaN,0.0,8.0,09/09/16,15h00,1586.500000
2902,18.7,1014.9,85.0,16.1,40.0,31.484,51.856,200.0,NaN,0.0,8.0,09/09/16,18h00,1532.500000
2903,18.2,1015.3,90.0,16.5,19.0,27.780,42.596,190.0,0.0,0.0,8.0,09/09/16,21h00,1757.166667
2904,18.3,1014.8,92.0,17.0,17.0,29.632,46.300,200.0,0.0,0.0,8.0,10/09/16,00h00,1410.166667
2905,17.9,1013.6,96.0,17.3,10.0,27.780,48.152,210.0,0.0,0.0,8.0,10/09/16,03h00,1228.166667
2906,18.2,1012.9,94.0,17.2,14.0,25.928,38.892,190.0,0.0,0.0,8.0,10/09/16,06h00,1213.833333
2907,18.0,1012.9,99.0,17.8,1.7,27.780,44.448,190.0,18.0,0.0,8.0,10/09/16,09h00,1835.500000
2908,17.7,1013.2,97.0,17.2,2.8,9.260,33.336,350.0,5.0,0.0,8.0,10/09/16,12h00,2158.833333
2909,17.6,1014.6,85.0,15.0,35.0,14.816,22.224,340.0,0.0,0.0,8.0,10/09/16,15h00,1777.000000
2910,15.9,1016.0,81.0,12.6,45.0,7.408,22.224,330.0,0.0,0.0,NaN,10/09/16,18h00,1502.166667
2911,12.8,1018.0,93.0,11.7,9.0,5.556,7.408,350.0,0.0,0.0,NaN,10/09/16,21h00,1812.000000
2912,9.7,1019.0,99.0,9.6,0.3,1.852,5.556,310.0,0.0,0.0,NaN,11/09/16,00h00,1444.500000
2913,9.3,1018.4,99.0,9.2,4.6,5.556,7.408,140.0,0.0,0.0,NaN,11/09/16,03h00,1278.000000
2914,7.5,1018.5,99.0,7.4,0.8,3.704,5.556,170.0,0.0,0.0,NaN,11/09/16,06h00,1131.833333
2915,15.2,1017.9,81.0,12.0,45.0,14.816,22.224,150.0,0.0,0.0,NaN,11/09/16,09h00,1859.500000
2916,19.9,1016.4,59.0,11.6,50.0,16.668,31.484,170.0,0.0,0.0,NaN,11/09/16,12h00,1925.166667
2917,20.0,1014.9,64.0,13.0,40.0,24.076,37.040,190.0,0.0,0.0,7.0,11/09/16,15h00,1473.833333
2918,18.3,1014.1,80.0,14.8,55.0,16.668,35.188,170.0,0.0,0.0,8.0,11/09/16,18h00,1335.666667
2919,17.9,1013.5,84.0,15.2,60.0,18.520,25.928,170.0,0.0,0.0,8.0,11/09/16,21h00,1632.833333
2920,18.2,1012.2,88.0,16.2,60.0,22.224,37.040,180.0,0.0,0.0,8.0,12/09/16,00h00,1268.833333
2921,18.7,1010.9,90.0,17.0,60.0,24.076,38.892,180.0,0.0,0.0,8.0,12/09/16,03h00,1102.333333
2922,19.0,1010.5,93.0,17.8,50.0,25.928,42.596,190.0,0.0,0.0,8.0,12/09/16,06h00,1082.000000
2923,20.2,1010.9,89.0,18.3,45.0,24.076,38.892,180.0,0.0,0.0,8.0,12/09/16,09h00,1540.500000
2924,22.6,1010.6,78.0,18.6,29.0,27.780,42.596,190.0,0.0,0.0,7.0,12/09/16,12h00,1781.666667
2925,22.9,1009.3,73.0,17.8,35.0,27.780,42.596,190.0,0.0,0.0,NaN,12/09/16,15h00,1465.333333
2926,20.8,1009.0,82.0,17.6,50.0,18.520,31.484,190.0,0.0,0.0,NaN,12/09/16,18h00,1526.000000
2927,18.7,1009.2,94.0,17.7,22.0,9.260,24.076,170.0,0.0,0.0,6.0,12/09/16,21h00,1622.166667
2928,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,435.000000

In [22]:
#changer le format d'une date en datetime
train["date"] = pd.to_datetime(train.date)

In [23]:
train["date"] = pd.to_datetime(train["date"], format="%Y-%m-%d")
train.set_index('date', inplace=True)
train.head()

,T¬∞ (C),P (hPa),HR (%),P.ros√©e (¬∞C),Visi (km),Vt. moy. (km/h),Vt. raf. (km/h),Vt. dir (¬∞),RR 3h (mm),Neige (cm),Nebul. (octats),heure,puissance
date,,,,,,,,,,,,,
2015-09-13,12.5,1008.7,81.0,9.3,40.0,9.260,18.520,140.0,0.0,NaN,8.0,00h00,1467.333333
2015-09-13,12.3,1006.4,83.0,9.5,40.0,11.112,16.668,120.0,0.0,NaN,8.0,03h00,1059.166667
2015-09-13,12.3,1004.7,82.0,9.3,40.0,14.816,22.224,130.0,NaN,NaN,7.0,06h00,1389.500000
2015-09-13,14.2,1002.9,80.0,10.8,40.0,18.520,31.484,140.0,NaN,NaN,7.0,09h00,2176.833333
2015-09-13,13.3,1000.8,93.0,12.2,4.0,18.520,38.892,140.0,4.0,NaN,7.0,12h00,1815.833333